body
{
	padding: 0px;
	margin: 0px;
	/* font-family: "Arial Narrow", Arial, sans-serif; */
	font-family: 'Google Sans',Roboto,Arial,sans-serif;
	overflow: hidden;
	/* stop any scrolling of whole browser contents */
}

a {
	text-decoration:none;
	color:rgb(28,27,168);
}

a:hover {
	text-decoration:underline;
}

/* -------------------------------------------------------------------------------------*/

.header
{
	height: 30px;
	font-size: 24px;
	/*border-bottom: 3px solid rgb(82,169, 212);*/
	background-color:rgb(64,64,64);
	color:white; 
	/*padding:10px;*/
}

.header a{
	color:white;
	text-decoration:none;
}

.menuitem {
	float:right;
	padding:8px;
	font-size:12px;
}

/* -------------------------------------------------------------------------------------*/

.content
{
	display: flex;
	flex: 1;
}

/* main panel */
.main
{
	height: calc(100vh - 50px);
	flex: 2 0 0;
}

/* side panel */
.side
{
	padding: 10px;
	border-left: 1px solid rgb(229,229,229);
	height: calc(100vh - 50px);
	overflow-y: auto;
	/* have a scrollbar */
	flex: 1 0 0;
}

.localkg
{
	background-color:rgb(252,252,252);
}

.externalkg
{
	background-color:rgb(248,248,248);
}

/* -------------------------------------------------------------------------------------*/
/*.  https://stackoverflow.com/a/14758993/9684.  */
/* Use class "clearfix" to ensure parent div includes child divs */
.clearfix:before,
.clearfix:after {
    content: " "; 
    display: table; 
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* -------------------------------------------------------------------------------------*/
/* based on https://stackoverflow.com/a/43936462/9684 */
.search_container
{
	/* This bit sets up the horizontal layout */
	display: flex;
	flex-direction: row;
	/* This bit draws the box around it */
	/*border:1px solid grey; */
	background-color: white;
	padding: 2px;
}

.search_input
{
	/* Tell the input to use all the available space */
	flex-grow: 1;
	/* And hide the input's outline, so the form looks like the outline */
	border: none;
	font-size: 18px;	
}

.search_button
{
	/* Just a little styling to make it pretty */
	border: 1px solid rgb(64,64,64);;
	background: rgb(64,64,64);
	color: white;
}

/* -------------------------------------------------------------------------------------*/
/* Explanations of content */
.explain
{
	padding:10px;
	margin:10px;
	/* border:1px solid #CCC; */
	color: #999;
	font-size:1.0em;
}

/* -------------------------------------------------------------------------------------*/

#viewer
{
	/* background-color: yellow; */ /* Debugging */
	width: 100%;
	height: 300px;
}

/* -------------------------------------------------------------------------------------*/
.main_header
{
	height: 30px;
	border-bottom: 1px solid rgb(229,229,229);
	box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1); 
}

.main_content
{
	/*height:calc(100vh - 60px); */
	/* allow for list heading */
	height: calc(100vh - 30px);
	/* allow for list heading */
	overflow-y: auto;
	/* have a scrollbar */
	/*background-color:rgb(242,242,242);*/
}

/* -------------------------------------------------------------------------------------*/
/* entity title with thumbnail, basically a "card" without many details.  */
.heading-block
{
	margin: 20px;
	/*padding:10px;*/
	min-height: 100px;
	background-color: white;
}

.heading-thumbnail
{
	border:1px solid rgb(192,192,192); 
	/* min-height: 100px; */ /* works as default for no thumbnail, but bad for images */
	width: 100px;
	float: left;
	line-height:0px; /* make sure there is no stray padding */
}

/* Ensure we can fit a document thumbnail */
.heading-thumbnail img
{
	width: 100px;
}

.heading-body
{
	font-size: 1.0em;
	margin-left: 110px;
	line-height: 0.8em;	
}

.heading-title
{
	font-size: 1.4em;
	line-height: 1.2em;
	font-weight:bold;
	color:#333;
}

.heading-description
{
	color:rgb(128,128,128);
	line-height: 1.2em;
}

/* -------------------------------------------------------------------------------------*/
/* Authors */
ul.creator {
	padding-left:0px;
}

ul.creator li {
    display:inline;
    padding:4px;
    /* background-color:rgb(240,240,240); */
    border:1px solid blue;
    border-radius: 10px;
    line-height: 2.0em;
    margin:2px;    
}

ul.creator li:before {
  content: "\f007\00A0";
  font-family: "Font Awesome 5 Free";
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  padding-right: 4px;
}

/* -------------------------------------------------------------------------------------*/
/* list of "cards" */
.list-item {
	margin-left:20px;
	margin-bottom:20px;
	/*padding:10px;*/
	min-height:100px;
	background-color:white;
	/*border:1px solid rgb(192,192,192);*/
}

.list-item-thumbnail {
	width:100px;height:100px;
	float:left;
	overflow:hidden; /* make sure we hide overflow of images that are wider than 100px */
	
	/* if thumbnails shown in a grey box */
	border:1px solid rgb(192,192,192); 
	background-color:rgb(229,229,229)

}

/* Ensure we can fit a document thumbnail */
/* centre image in middle, object-fit: contain; normally does this but I need white background
   to handle page images that have transparent backgrounds */
.list-item-thumbnail img {
	background-color:white; /* so PDF thumbnails that are transparent look good */
	object-fit: contain;
	display:block;
	margin:auto;	
	
	/* if adding border to image */
	/* height:98px; 
	border:1px solid rgb(192,192,192); */
	/* if no border around image */
	height:100px;
}

.list-item-body {
	margin-left:100px;
	line-height:0.8em;
	/* padding:10px; */
	padding-right:10px;
	padding-left:10px;
}

.list-item-title {
	font-size: 1.2em;
	margin-bottom:0.3em;
	line-height:1.2em;	
	/* font-weight:bold;
	color:#333; */
}

.list-item a {
	/* text-decoration: none; */
}

.list-item-description {
	font-size: 1.0em;
	line-height:1.0em;
}

.list-item-description span {
	color: black;
}

/* -------------------------------------------------------------------------------------*/
/* links and identifiers */

/* truncate very long identifiers such as LSIDs */
.external {
  width:400px;
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: underline;
  color:blue;
}

/* links */
.external:after {
  content: "\f35d";
  font-family: "Font Awesome 5 Free";
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: none;
  padding-left: 3px;
}

.orcid:before {
  content: url('../images/orcid_16x16.png');
  vertical-align: middle;
  padding-right: 3px;
}

.gbif:before {
  content: url('../images/gbif_16x16.png');
  vertical-align: middle;
  padding-right: 3px;
}

.ncbi:before {
  content: url('../images/ncbi_16x16.png');
  vertical-align: middle;
  padding-right: 3px;
}


ul.identifier-list  {
  padding-left: 0px;
}
ul.identifier-list li {
  list-style: none;
  line-height: 1.2em;
}

/* -------------------------------------------------------------------------------------*/
/* figures in a work displayed all at once */
	
.figures {
}

section{
  display: flex;
  flex-wrap: wrap;
}

section::after{
  content: \'\';
  flex-grow: 999999999;
}

div.figure{
  flex-grow: 1;
  margin: 4px;
  height: 100px;
}

img.figure{
  height: 100px;
  object-fit: cover;
  max-width: 100%;
  min-width: 100%;
  vertical-align: bottom;
  border:1px solid rgb(242,242,242);
}	

/* -------------------------------------------------------------------------------------*/
/* one image, such as a figure in a work */


.image {
	width:100%;
}

/* -------------------------------------------------------------------------------------*/
/* Simple list of documents with document icon */
/* based on https://stackoverflow.com/a/13354689/9684 */
 ul.work-list {
  list-style: none;
  padding: 0;
}

.work-list li {
  padding-left: 1.3em;  
  list-style: none;
}

.work-list li:before {
  content: "\f15C"; /* FontAwesome Unicode */
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
}

/* -------------------------------------------------------------------------------------*/
/* display taxa as a grid of thumbnails */
.taxa-grid {
}

.taxa-thumbnail {
	position:relative;
	float:left; 
	width:100px;
	height:100px;
	border:1px solid rgb(192,192,192);
	margin:5px;
	background-color:white;
}

.taxa-thumbnail span {
	font-size:10px;
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	background-color:rgba(0, 0, 0, 0.4);
	color:white;
	z-index:10;
}

/* -------------------------------------------------------------------------------------*/
/* BBC-inspired lineage */
.lineage{
 width:200px;
 font-size:1.0em;
 background-size: contain;
 background-position: center; 
 background-image: url(../images/triangle.svg);
 background-repeat: no-repeat;
 list-style-type: none;
 margin:0px;padding:0px;
 /* border:1px solid red; */
}	

.lineage ol {
	padding-left: 0px;
}

.lineage li {
	list-style: none;
	border-bottom:2px solid white;
}

.lineage a {
 	text-decoration: none;
 }
 
 
/* -------------------------------------------------------------------------------------*/
/* name list, i.e., names for a taxon with associated works and status */

ul.name{
list-style: none;
padding: 0;
}

.name li {
   padding-left: 1.3em;  
  list-style: none;
}

.name-details li {
  padding-left: 1.3em;  
  list-style: none;
}

li.invalidum {
	background-color:#F93;
}

li.unknown:before {
 content: "\f111";
 font-family: "Font Awesome 5 Free";
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */ 
}

li.accepted:before {
 content: "✓";
 font-family: "Font Awesome 5 Free";
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */ 
}

li.synonym:before {
 content: "=";
 font-family: "Font Awesome 5 Free";
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */ 
}

li.combinatio:before {
 content: "\f35a";
 font-family: "Font Awesome 5 Free";
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */ 
}

li.guid:before {
  content: "\f02a"; /* FontAwesome Unicode */
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
}


li.work:before {
  content: "\f15C"; /* FontAwesome Unicode */
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
}

li.remarks:before {
  content: "\f075"; /* FontAwesome Unicode */
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
}
 
/* -------------------------------------------------------------------------------------*/
/* Static image viewer for BioStor */
.image-viewer {
	background-color:rgb(229,229,229); /* Google Books */
	height:800px;
	overflow-y:auto;
	text-align:center;
	
	border-top: 1px solid rgb(192,192,192);
}

.image-viewer img {
 	background-color:white;
 	width:90%;
}

/* -------------------------------------------------------------------------------------*/
.badge:before {
	content: "";
}

.badge {
	margin-left:0.5em;
	padding-left:4px;
	padding-right:4px;
	padding-top:1px;
	padding-bottom:1px;
	background-color: green;
	color:white;
	font-size:0.8em;
}
 
/* -------------------------------------------------------------------------------------*/
/* tree */
/* https://two-wrongs.com/draw-a-tree-structure-with-only-css */

.tree {
	font-size:10px;
}

.tree, .tree ul, .tree li {
     position: relative;
}

.tree ul {
    list-style: none;
    padding-left: 1em;
}

.tree li::before, .tree li::after {
    content: "";
    position: absolute;
    left: -12px;
}

.tree li::before {
    border-top: 2px solid rgb(192,192,192);
    top: 9px;
    width: 8px;
    height: 0;
}

.tree li::after {
    border-left: 2px solid rgb(192,192,192);
    height: 100%;
    width: 0px;
    top: 2px;
}

.tree ul > li:last-child::after {
    height: 8px;
}

/* -------------------------------------------------------------------------------------*/
/* style scientific names */
/*
.scientific-name {

}

.rank-genus .name {
	font-style: italic;
}

.rank-species .name {
	font-style: italic;
}
*/

/* -------------------------------------------------------------------------------------*/
/* d3sparql */
.sparqlquery {
    	width:400px;
    	font-family:monospace;    	
}