vendor/
js/.DS_Store
external/.DS_Store
external/.DS_Store
images/.DS_Store
junk/*
.Rproj.user
manuscript/r/R-tutorial.pdf
manuscript/r/r.Rproj
manuscript/r/xy.txt
manuscript/.DS_Store
.DS_Store
data/*.nt

