RewriteEngine On

# Some hosts may require you to use the `RewriteBase` directive.
# If you need to use the `RewriteBase` directive, it should be the
# absolute physical path to the directory that contains this htaccess file.
#
#RewriteBase /
RewriteBase /~rpage/ozymandias-demo/

#-----------------------------------------------------------------------------------------
# URI
# Note tha Apache converts "//" in protocol to single slash, so we need to rewrite URI
# parameter
RewriteRule ^uri/https:(.*)$  ?uri=https:/$1 [L]
RewriteRule ^uri/http:(.*)$  ?uri=http:/$1 [L]
RewriteRule ^uri/urn:(.*)$  ?uri=urn:/$1 [L]
